.cart-img{
    width: 50px;
    height: 50px;
}

.cart-container{
    position: relative;
    height: 100%;
}
.cart-table {
    
}
.cart-footer{
    position: absolute;
    bottom: 7px;
    right: 5px;
}

.qty{
    width: 35px !important;
}