<mat-card class="prod-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <img
    class="prod-img"
    mat-card-image
    src="{{product.imageUrl}}"
    alt="Photo of red apple"
  />
  <mat-card-content>
    <p>
     {{product.description}}
    </p>
    <mat-form-field appearance="standard" >
      <mat-label>Quantity</mat-label>
      <input [disabled]="product.isAddedToCart" matInput [(ngModel)]="quantity" type="number">
      <mat-hint>Maximum 12 units</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart(product,quantity)"[disabled]="product.isAddedToCart"><mat-icon>add_shopping_cart</mat-icon>Add to Cart</button>
  </mat-card-actions>
</mat-card>
