<mat-card class="prod-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <img
    class="prod-img"
    mat-card-image
    src="{{product.imageUrl}}"
    alt="Photo of red apple"
  />
  <mat-card-content>
    <p>
     {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart(product,2)"[disabled]="product.isAddedToCart"><mat-icon>add_shopping_cart</mat-icon>Add to Cart</button>
  </mat-card-actions>
</mat-card>
