<mat-toolbar class="mat-primary nav-bar">
  <img
    src="https://raw.githubusercontent.com/shashankvivek/e-food-client/master/e-food/src/assets/diet.png"
    class="logo"
  />

  <button mat-button [routerLink]="['/']">E-Food</button>
  <ng-container *ngFor="let category of menuItems">
    <button mat-button [matMenuTriggerFor]="menu">{{category.bcName}} <mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let subCategory of category.subCategories">
        <button  mat-menu-item [routerLink]="['./products', subCategory.scId]">
          {{subCategory.scName}}
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>

  
  <div class="user-cart">
    <span *ngIf="userInfo && userInfo.isCustomer">
      <span class="user-info">Welcome, {{userInfo.fname}}</span>
      <button mat-button (click)="logout()">Sign out</button>
    </span>

    <span *ngIf="userInfo && !userInfo.isCustomer">
      <button mat-button [routerLink]="['/guest/register']">Sign Up</button>  
    </span>
  
    <span *ngIf="userInfo && !userInfo.isCustomer">
      <button mat-button [routerLink]="['/guest/login']">Login</button>  
    </span>
  
    <button (click)="openCartModal()" mat-raised-button matBadge="{{cartItems.length}}" matBadgePosition="before" matBadgeColor="warn">
      <mat-icon >shopping_cart</mat-icon>Cart
    </button>
  </div>
</mat-toolbar>
