<mat-toolbar class="mat-primary">
    <img src="https://raw.githubusercontent.com/shashankvivek/e-food-client/master/e-food/src/assets/diet.png"
         class="logo">

    <button mat-button>E-Food</button>
    <button mat-button
            [matMenuTriggerFor]="menu">Fruits</button>
    <mat-menu #menu="matMenu">
        <!-- remove hard coding -->
        <button mat-menu-item [routerLink]="['/products','apple']">Apples</button>
        <button mat-menu-item [routerLink]="['/products','banana']">Bananas</button>
        <button mat-menu-item [routerLink]="['/products','pear']">Pears</button>
        <button mat-menu-item [routerLink]="['/products','orange']">Oranges</button>
    </mat-menu>
</mat-toolbar>