<div class="prod-container">
  <div>
    <mat-card class="example-card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Apple</mat-card-title>
      </mat-card-header>
      <img
       class="prod-img"
        mat-card-image
        src="./../../../assets/apple-1.png"
        alt="Photo of red apple"
      />
      <mat-card-content>
        <p>
          Kashmiri Apple
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="example-card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Apple</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        class="prod-img"
        src="./../../../assets/apple-3.jpg"
        alt="Photo of Green Apple"
      />
      <mat-card-content>
        <p>
          Green Apple
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
