.cart {
    padding: 15px;
}

.total{
    display: flex;
    flex-direction: column;
}

.sum{
    text-align: right;
    padding: 5px;
}

div {
    text-align: center;
    // border: 1px solid black;
}

.row {
    display: flex;
    width: 100%;
}

.nested-row {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cell {
    padding-left: 15px;
    padding-right: 15px;
}

.img-cell {
    width: 10%;
    padding-top: 10px;
}

.name-cell {
    width: 60%;
}

.strong{
    font-weight: bold;
}

.qty-cell {
    width: 10%;
    padding-top: 20px;
}
.unit-cell {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.discount {
    // flex-grow: 1;
    padding: 5px;
    // width: 30%;
    text-align: right;
}
.empty-area{
    // width: 70%;
}

.striked {
    color: red;
    text-decoration: line-through;
}



.select-box {
    width: 40px !important;
}

.cart-img {
    width: 50px;
    height: 50px;
}