<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button ><mat-icon routerLink="/">arrow_back</mat-icon></button>
    <span>Home</span>

  </mat-toolbar-row>
</mat-toolbar>

<div class="cart">
  <mat-list>
    <h2 mat-header>{{userName}}'s Cart</h2>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of cartItems">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{ item.productName }}</h4>
      <!-- <mat-form-field> -->
        <mat-select
          style="width: 120px;"
          mat-line
          placeholder="Select Quantity"
          [(value)]="item.quantity"
        >
          <ng-container>
            <mat-option [value]="qty" *ngFor="let qty of qtyList">
              {{ qty }}
            </mat-option>
          </ng-container>
        </mat-select>
      <!-- </mat-form-field> -->
    <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<div class="example-button-row">
  <button mat-raised-button color="primary">Send</button>
</div>
